.footerarea {
background-color: #233f3e;
width: 100%;
min-height: 200px;
color: whitesmoke;
}

.footerarea__top{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #354558;
}

.footerarea__link{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}