.productcard{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.productcard__image{
    object-fit: contain;
    width: 160px;
    height: 160px;
}
.productcard__title{

    font-weight: 600;
    font-size: 16px;
}
.productcard__info{
    padding-left: 20px;
}

.productcard__info > button {
    background-color: #f0c14b;
    border: 1px solid ;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}


